<form name="jsoninput" action="#" onsubmit="return treeBuilder.jsonChange(this)" id="jsoninput">
  <input name="jlabel" type="text" value="" size="60" style="width:400px"/>
  <br/><br/>
  <div>
    <div id="value">
      Value:<br/>
      <textarea name="jvalue" rows="10" style="width:300px"></textarea>
    </div>
    <div id="computed_value">
      Computed Value: (will be updated only after the new config is prepared.)<br/>
      <textarea name="jcomputedValue" id="jcomputedValue" rows="10" style="width:300px"></textarea>
    </div>
    <div class="clearFloat"></div>
  </div>
  <br/><br/>
  Data type:
  <select onchange="treeBuilder.changeJsonDataType(this.value,this.parentNode)" name="jtype">
    <option value="array">
      array
    </option>
    <option value="object">
      hash
    </option>
    <option value="string">
      string
    </option>
    <option value="number">
      number
    </option>
    <option value="boolean">
      boolean
    </option>
    <option value="null">
      nil
    </option>
  </select> &nbsp;&nbsp;&nbsp;&nbsp;
  <input name="orgjlabel" type="hidden" value="" size="50" style="width:300px"/>
  <input onfocus="this.blur()" type="submit" value="Save"/>
  &nbsp;<br/>
  <br/>
  <input name="jAddChild" onfocus="this.blur()" type="button" onclick="treeBuilder.jsonAddChild(this.parentNode)" value="Add child">
  <input name="jAddSibling" onfocus="this.blur()" type="button" onclick="treeBuilder.jsonAddSibling(this.parentNode)" value="Add sibling"/>
  <br/><br/>
  <input name="jRemove" onfocus="this.blur()" type="button" onclick="treeBuilder.jsonRemove(this.parentNode)" value="Delete">&nbsp;
  <input name="jRename" onfocus="this.blur()" type="button" onclick="treeBuilder.jsonRename(this.parentNode)" value="Rename">&nbsp;
  <input name="jCut" onfocus="this.blur()" type="button" onclick="treeBuilder.jsonCut(this.parentNode)" value="Cut">&nbsp;
  <input name="jCopy" onfocus="this.blur()" type="button" onclick="treeBuilder.jsonCopy(this.parentNode)" value="Copy">&nbsp;
  <input name="jPaste" onfocus="this.blur()" type="button" onclick="treeBuilder.jsonPaste(this.parentNode)" value="Paste"/>
  &nbsp;
  <br/><br/>
  <input type="checkbox" name="jbefore"/>Add children first/siblings before<br/>
  <input type="checkbox" name="jPasteAsChild"/>Paste as child on objects &amp; arrays<br/>
  <br/>

  <div id="jformMessage"></div>
  <br/>
</form>