<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<head>
  <title>Configula Admin</title>
  <script src="/configula_public/javascripts/JSONeditor.js"></script>
  <script>
  onload=function(){
      hash = {
          "a":1,
          "b":[1,2,3],
          "c":{
              "d":"e"
          }
      };
      JSONeditor.start('tree', <%= AppConfig.to_json %>);
      setConfigValue= function(form){
          form.config.value = JSONeditor.treeBuilder.JSONstring.make(JSONeditor.treeBuilder.json);
      }
  }
  </script>
  <style type="text/css">
      body {
          font-size:12px;
      }

      #tree{
          position:absolute;
          top:10px;
          left:10px
      }

      #jform{
          position:absolute;
          top:10px;
          left:50%;
      }
  </style>

</head>
<body>
<div id="tree"></div>
<div id="jform">
  <%= render :partial => 'json_input_form' %>
  <% form_tag({}, :onsubmit => "return setConfigValue(this)") do %>
  <%= hidden_field_tag "config" %>
  <%= submit_tag "Update and Persist Configula" %>
  <% end %>
</div>
</body>
</html>